@font-face {
    font-family:'shabnam fd';
    src:local('Shabnam-Bold-FD' , 'shabnam fd' , 'shabnam bold fd') url(../font/Shabnam-Bold-FD.ttf);
}
body {
    background-color: #FFEDD4;
    
    font-family:'shabnam fd';
}

.container {
    display:flex;
    gap:4px;
    max-width: 1216px;
    padding: 3px;
    margin: 65px 150px;
    margin-top: 20px;
    margin-bottom: 5px;
    background-color: #FFEDD4;
}

p {
    text-align: right;
    margin-top: 1px;
    font-weight: 800;
}

.new_icon {
    width:20px;
    position:relative ;
    top: -7px; ;
}

.namayesh_hame {
  margin-right: 460px;
  text-decoration: none;

}

.picture_div {
    display: flex;
    gap: 15px;
    margin-top: 1px;
    margin-right: 1px;
    background-color:  #FFEDD4;
    justify-content: center;
}

.picture_div img {
    justify-content: center;
    display: flex;
    width: 180px;
    height: 150px;
    align-items: stretch;
    
}

.box {
    background: #fff;
    width: 180px;
    padding-right: 8px;
    height: 300px;
    margin-bottom: 50px;
    box-shadow: 2px 3px gray;
    font-size: 10px;
    color: gray;
    word-wrap: break-word;
    align-items: stretch;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 10px;
    padding-top: 2px;
    padding-left: 2px;
}

.box_title {
    padding-top: 10px;
    padding-bottom: 9px;
    min-height: 40px;
}

.discount {
    
    font-size: 14px;
    color: black;
    background-color: rgb(148, 255, 255);

}

.old_price {
    padding-right: 5px;
    text-decoration: line-through;
    font-size: 12px;
    color: black;
}

.new_price {
    margin-top: -20px;
    padding-top: 50px;
    display: flex;
    text-align: right;
    font-size: 20px;
    color: black;
    max-width: 120px;
    gap: 5px;
}

.ster_score {
    font-size: 9px;
    color: black;
    display: flex;
    direction: ltr;
    text-align: left;
    width: 20px;
    height: 20px;
    padding-top: 40px;
    padding-right: 20px;
}

.price_rate {
    display: flex;
    text-align: right;
    font-size: 20px;
    color: black;
   
}

.star {
    height: 15px;
    width: 15px;
    color: #FF8904;
    margin: 0px;
    padding-top: 34px;
    padding-left: 5px;
    padding-right: 2px;
}

.footer {
    margin-right: 160px ;
    width: 750px;
    height: 100px;
    background-color: #FFC9C9;
    border-radius: 15px;
    
}

.footer_p {
    text-align: center;
    font-size: 25px;
}

.footer_git {
    text-align: center;
    font-size: 15px;
}

.box a {
     text-decoration: none;
    color: inherit;
    display: block;
}


a.link {
    text-decoration: none;
    color: inherit;
    display: block;
}
